.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-video-1 {
  height: 614px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-form-1 {
  height: 415px;
  margin: -605px 237px 191px 333px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 137px;
    margin-left: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -138px;
  }

  .u-section-1 .u-form-1 {
    margin: -466px 27px 60px 123px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}